
.app-logo {
    width: 300px;
    pointer-events: none;
}

.app-header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    box-shadow: 0 4px 6px #cbcbcb;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
}

.app-header .docs-button {
    margin-right: 16px;
}